<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Insert User</title>
</head>
<body>
  <h3>Create User</h3>
  <form action="/user/new" method="post">
    Username<br>
    <input name="name" type="text" value="{{ oldValue.name }}"><br>
    <p style="color: red;">{{ errorMessage.name }}</p>
    <button type="submit">Insert</button>
  </form>
</body>
</html>