<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User All</title>
</head>
<body>
  <h3>User Success Inserted</h3>
  <a href="/user">Back to Index</a><br><br>

  Id : {{user.id}} <br>
  Name : {{user.name}}
</body>
</html>